<!doctype html>
<html>
<head>
    <title>Social Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
        body { word-wrap:break-word; }
        ._icons > a, ._icons > a:visited, ._icons > a:hover, ._icons > a:active { color: inherit; }
        ._icons {
            padding-top: 10px;
        }

        #twitter, #facebook, #google {
            padding-top:10px;
        }

        img {
            width:48px;
            height:auto;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Timeline</h1>
        <a href="/compose" class="btn btn-default btn-sm">
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Compose
        </a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a><br><br>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#twitter" aria-controls="home" role="tab" data-toggle="tab">
            <span class="fa fa-twitter"></span> Twitter
          </a>
        </li>
        <li role="presentation">
          <a href="#facebook" aria-controls="profile" role="tab" data-toggle="tab">
            <span class="fa fa-facebook"></span> Facebook
          </a>
        </li>
        <li role="presentation">
          <a href="#google" aria-controls="messages" role="tab" data-toggle="tab">
            <span class="fa fa-google-plus"></span> Google+
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="twitter">
            <div class="row">                
                <% for(var tweet,i=0; tweet=twitterPosts[i]; i++) {%>
                    <div class="col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="<%= tweet.image %>"/>
                                </div>
                                <div class="col-xs-10">
                                    <p>
                                        <strong><%= tweet.name %></strong> <%= tweet.username %><br>
                                        <%- tweet.text %>
                                    </p>
                                </div> 
                            </div>
                            <div class="row">
                               <div class="col-xs-8 col-md-10 _icons">
                                   <i class="fa <%= tweet.liked ? "fa-thumbs-up" : "fa-thumbs-o-up" %> fa-2x _like" name="like<%= tweet.id %>"></i> 
                                    <a href="/reply/<%= tweet.id %>" class="fa fa-reply fa-2x"></a>
                                    <%if (tweet.retweeted) {%>
                                        <i data-id="<%= tweet.retweedStatusId %>" class="fa fa-2x fa-share-square _unshare"></i>
                                    <%} else {%>
                                        <a href="/share/<%= tweet.id %>" class="fa fa-2x fa-share-square-o"></a>
                                    <% }%>                                    
                               </div> 
                               <div class="col-xs-4 col-md-2">
                                   <span class="btn <%= tweet.network.class %>"><span class="fa fa-<%= tweet.network.icon %>"></span> <%= tweet.network.name %></a>
                               </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="facebook">
            <div class="row">
                <% for(var fbFeed,i=0; fbFeed=fbFeeds[i]; i++) {%>
                    <div class="col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-xs-2">
                                    <img src="<%= fbFeed.image %>"/>
                                </div>
                                <div class="col-xs-10">
                                    <p>
                                        <strong><%= fbFeed.name %></strong> <%= fbFeed.username %><br>
                                        <%- fbFeed.text %>
                                    </p>
                                </div> 
                            </div>
                            <div class="row">
                               <div class="col-xs-8 col-md-10 _icons">
                                    <i class="fa <%= fbFeed.liked ? "fa-thumbs-up" : "fa-thumbs-o-up" %> fa-2x _fbLike" name="like<%= fbFeed.id %>"></i>                    
                                    <a href="/fb-reply/<%= fbFeed.id %>" class="fa fa-reply fa-2x"></a>
                                    <i data-id="<%= fbFeed.retweedStatusId %>" class="fa fa-2x fa-share-square _unshare"></i>                                    
                               </div> 
                               <div class="col-xs-4 col-md-2">
                                   <span class="btn <%= fbFeed.network.class %>"><span class="fa fa-<%= fbFeed.network.icon %>"></span> <%= fbFeed.network.name %></a>
                               </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="google">
            TODO
        </div>
      </div>
    </div>    
</div>
</body>

<script>
    $(function() {
        $('._like').click(function() {
            var $this = $(this)
            var id = $this.attr('name').replace('like', '')

            $this.toggleClass('fa-thumbs-o-up')
            $this.toggleClass('fa-thumbs-up')
            if ($this.hasClass('fa-thumbs-up')) {
                $.post('like/' + id)
            } else {
                $.post('unlike/' + id)
            }                
        })

        $("._fbLike").click(function(){
            var $this = $(this)
            var id = $this.attr('name').replace('like', '')
            if($this.hasClass("fa-thumbs-up")) {
                $.post('fb-unlike/' + id, {
                    success: function() {
                            $this.removeClass("fa-thumbs-up");
                            $this.addClass("fa-thumbs-o-up");
                        }
                    });
            }else {
                $.post('fb-like/' + id, {
                    success: function(){
                    $this.removeClass("fa-thumbs-o-up");
                    $this.addClass("fa-thumbs-up");
                }});                 
            }
        })

        $('._unshare').click(function(){
            var $this = $(this)
            var id = $this.data("id")
            if(id){
                $.post('unshare/' + id)                
            }
        })
    })
</script>
</html>
